.c-page {
	@include box-shadow;
	overflow: hidden;

	&__header {
		margin-bottom: rem-calc(20);
	}

	&__title {
		font-weight: 600;
	}

	&__hero {
		padding-top: rem-calc(80);
		padding-bottom: rem-calc(40);
	}
}
