.user-badges {
	li {
		border-bottom: none;
		box-sizing: border-box;
		display: inline-block;
		font-size: 16px;
		padding: 16px 0 16px 55px;
		position: relative;

		div.dashicons {
			&:before {
				position: relative;
				top: 2px;
				font-size: 24px;
			}

			/* Slightly adjust certain badges for better horizontal centering. */
			&-admin-appearance,
			&-admin-plugins,
			&-art,
			&-format-chat,
			&-tickets {
				&:before {
					left: 1px;
				}
			}
		}
	}
}

.badge {
	margin: 4px;
	width: 32px;
	height: 32px;
	border: 2px solid white;
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
	top: 8px;
	left: 0;


	&-themes-reviewer {
		background: rgba(78, 50, 136, 0.25);
		box-shadow: 0 0 0 4px rgb(78, 50, 136);

		&:before {
			color: rgb(78, 50, 136);
		}
	}

	&-themes {
		background: white;
		box-shadow: 0 0 0 4px rgb(78, 50, 136);

		&:before {
			color: rgb(78, 50, 136);
		}
	}

	&-plugins-reviewer {
		background: rgba(240, 103, 35, 0.25);
		box-shadow: 0 0 0 4px rgb(240, 103, 35);

		&:before {
			color: rgb(240, 103, 35);
		}
	}

	&-plugins {
		background: white;
		box-shadow: 0 0 0 4px rgb(240, 103, 35);

		&:before {
			color: rgb(240, 103, 35);
		}
	}

	&-support {
		background: rgba(51, 180, 206, 0.25);
		box-shadow: 0 0 0 4px rgb(51, 180, 206);

		&:before {
			color: rgb(51, 180, 206);
		}

		&-contributor {
			background: white;
			box-shadow: 0 0 0 4px rgb(51, 180, 206);

			&:before {
				color: rgb(51, 180, 206);
			}
		}
	}

	&-wordpress-tv {
		background: rgba(115, 173, 48, 0.25);
		box-shadow: 0 0 0 4px rgb(115, 173, 48);

		&:before {
			color: rgb(115, 173, 48);
		}

		&-contributor {
			background: white;
			box-shadow: 0 0 0 4px rgb(115, 173, 48);

			&:before {
				color: rgb(115, 173, 48);
			}
		}
	}

	&-organizer {
		background: white;
		box-shadow: 0 0 0 4px rgb(247, 173, 67);

		&:before {
			color: rgb(247, 173, 67);
		}
	}

	&-speaker {
		background: white;
		box-shadow: 0 0 0 4px rgb(247, 173, 67);

		&:before {
			color: rgb(247, 173, 67);
		}
	}

	&-translation-contributor {
		background: white;
		box-shadow: 0 0 0 4px rgb(195, 34, 131);

		&:before {
			color: rgb(195, 34, 131);
		}
	}
}
