html {
	box-sizing: border-box;
	font-size: $base-font-size;
}

body {
	background: $body-background;
	font-family: $body-font-family;
	font-weight: $global-weight-normal;
	line-height: $global-lineheight;
	color: $body-font-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

img {
	display: inline-block;
	vertical-align: middle;
	max-width: 100%;
	height: auto;
	-ms-interpolation-mode: bicubic;
}

:focus {
	outline: 2px solid $primary-color;
}

:hover {
	transition: all $base-duration;
}

::selection {
	background: $primary-color;
	color: #ffffff;
}

::-moz-selection {
	background: $primary-color;
	color: #ffffff;
}

.c-post__content .hcb_wrap pre.prism,
.c-post__content .hcb_wrap pre.prism code {
	color: #f7f6f6;
	text-shadow: none;
	background: #1f1e1e;
}
