$primary-colour: #5183f5;
$primary-colour-dim: #2161f2;

$secondary-colour: #49ff11;
$alert-colour: red;
$warning-colour: yellow;
$success-colour: green;

$hover-menu: hsla(0, 0%, 100%, .7);

$grey: #ccc;
$light-grey: #f6f8fa;
$medium-grey: #050505;
$dark-grey: #24292e;

$bg-dark-theme:#202020;
$typo-dark-theme:#b3b9c5;
$titles-dark-theme:#eee;
