$primary-colour: rgb(32, 221, 174);
$primary-colour-dim: #0a969b;

$secondary-colour: #49ff11;
$alert-colour: red;
$warning-colour: yellow;
$success-colour: green;

$hover-menu: hsla(0, 0%, 100%, .7);

$grey: #ccc;
$light-grey: #f6f8fa;
$medium-grey: #050505;
$dark-grey: #24292e;
