$primary-color: #00ADEF;
$primary-color-dim: #8FDBF9;

$secondary-color: #504C4D;
$alert-color: red;
$warning-color: yellow;
$success-color: green;

$hover-menu: hsla(0, 0%, 100%, .7);

$grey: #ccc;
$light-grey: #f6f8fa;
$medium-grey: #787677;
$dark-grey: #050505;

$bg-dark-theme:#202020;
$bg-box-dark-theme: #383838;
$typo-dark-theme:#b3b9c5;
$titles-dark-theme:#eee;
