/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
	margin: rem-calc(5px 20px 20px 0);
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: rem-calc(5px) auto rem-calc(5px) auto;
}

.alignright {
	float: right;
	margin: rem-calc(5px 0 20px 20px);
}

.alignleft {
	float: left;
	margin: rem-calc(5px 20px 20px 0);
}

a img.alignright {
	float: right;
	margin: rem-calc(5px 0 20px 20px);
}

a img.alignnone {
	margin: rem-calc(5px 20px 20px 0);
}

a img.alignleft {
	float: left;
	margin: rem-calc(5px 20px 20px 0);
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	background: #fff;
	border: 1px solid #f0f0f0;
	max-width: 96%;
	/* Image does not overflow the content area */
	padding: 5px 3px 10px;
	text-align: center;
}

.wp-caption.alignnone {
	margin: rem-calc(5px 20px 20px 0);
}

.wp-caption.alignleft {
	margin: rem-calc(5px 20px 20px 0);
}

.wp-caption.alignright {
	margin: rem-calc(5px 0 20px 20px);
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: rem-calc(11px);
	line-height: rem-calc(17px);
	margin: 0;
	padding: rem-calc(0 4px 5px);
}

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #eee;
	clip: auto !important;
	clip-path: none;
	color: #444;
	display: block;
	font-size: 1em;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -0.625rem rem-calc(20);

	.gallery-item {
		flex: 1;
		margin-left: 0.625rem;
		margin-right: 0.625rem;
		margin-bottom: rem-calc(20);
		text-align: center;
		flex: 0 0 auto;
	}

	@for $i from 1 through 9 {
		&.gallery-columns-#{$i} {
			.gallery-item {
				width: calc(#{(1/$i)*100 + '%'} - 1.25rem);
			}
		}
	}

	.gallery-caption {
		color: #888;
		font-size: rem-calc(12px);
		margin-top: rem-calc(10);
	}
}

.grecaptcha-badge {
	visibility: hidden;
}

.user-badges li {
	border-bottom: none;
	box-sizing: border-box;
	display: inline-block;
	font-size: 16px;
	padding: 16px 0 16px 55px;
	position: relative
}

.user-badges li div.dashicons:before {
	position: relative;
	top: 2px;
	font-size: 24px
}

.user-badges li div.dashicons.dashicons-admin-appearance:before,
.user-badges li div.dashicons.dashicons-admin-plugins:before,
.user-badges li div.dashicons.dashicons-art:before,
.user-badges li div.dashicons.dashicons-format-chat:before,
.user-badges li div.dashicons.dashicons-tickets:before {
	left: 1px
}

.user-badges li div.dashicons.dashicons-cloud:before {
	top: 0
}

.badge {
	margin: 4px;
	width: 32px;
	height: 32px;
	border: 2px solid #fff;
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
	top: 8px;
	left: 0
}

.badge-themes-reviewer {
	background: rgba(78, 50, 136, .25);
	box-shadow: 0 0 0 4px #4e3288
}

.badge-themes-reviewer:before {
	color: #4e3288
}

.badge-themes {
	background: #fff;
	box-shadow: 0 0 0 4px #4e3288
}

.badge-themes:before {
	color: #4e3288
}

.badge-plugins-reviewer {
	background: rgba(240, 103, 35, .25);
	box-shadow: 0 0 0 4px #f06723
}

.badge-plugins-reviewer:before {
	color: #f06723
}

.badge-plugins {
	background: #fff;
	box-shadow: 0 0 0 4px #f06723
}

.badge-plugins:before {
	color: #f06723
}

.badge-support {
	background: rgba(51, 180, 206, .25);
	box-shadow: 0 0 0 4px #33b4ce
}

.badge-support:before {
	color: #33b4ce
}

.badge-support-contributor {
	background: #fff;
	box-shadow: 0 0 0 4px #33b4ce
}

.badge-support-contributor:before {
	color: #33b4ce
}

.badge-wordpress-tv {
	background: rgba(115, 173, 48, .25);
	box-shadow: 0 0 0 4px #73ad30
}

.badge-wordpress-tv:before {
	color: #73ad30
}

.badge-wordpress-tv-contributor {
	background: #fff;
	box-shadow: 0 0 0 4px #73ad30
}

.badge-wordpress-tv-contributor:before {
	color: #73ad30
}

.badge-organizer {
	background: #fff;
	box-shadow: 0 0 0 4px #f7ad43
}

.badge-organizer:before {
	color: #f7ad43
}

.badge-speaker {
	background: #fff;
	box-shadow: 0 0 0 4px #f7ad43
}

.badge-speaker:before {
	color: #f7ad43
}

.badge-translation-editor:before {
	color: #c32283
}

.badge-translation-contributor {
	background: #fff;
	box-shadow: 0 0 0 4px #c32283
}

.badge-translation-contributor:before {
	color: #c32283
}
